.bnr{
    vertical-align: text-bottom; 
    align-content: center;   
    padding-right: 250px;
    padding-left: 250px;
    }
.navbar-brand {
    text-align: center;
}
@media (max-width: 900px) {
    /* Hide elements with IDs #sch and #schb */
    #sch,
    #schb {
      display: none;
    }
    .bnr{
        padding-right: 0px;
        padding-left: 0px;
    }
    
   
    
  }